@{
    ViewBag.Title = "DataCard";
}

<div class="row">

    <div class="container-fluid">
        <!--Data Card Container Row-->
        <div class="row" style="margin:10px;">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <!--Card Title-->
                        <span class="card-title">Card Title</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-3"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                        <!--Card-Header Ends-->
                    </div>
                   
                    <div class="card-content">
                       

                       
                        <!--Card-content Ends-->
                    </div>


                    <!--Card Ends-->
                </div>
                <!--Column ends-->
            </div>

        </div>
    </div>
</div>