@{
    ViewBag.Title = "ICIMOD-PRM";
}


<div class="main-image">
    <!--Updating Content-->
    <div class="row">

        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 100px; padding-left: 50px;">
            
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 100px; padding-left: 50px;">
           
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 100px; padding-left: 50px;">
            
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 100px; padding-left: 50px;">
           
        </div>


        <!--Main Image Row end-->
    </div>
    <!--Main Image div end-->
</div>

<div class="row" >

    <div class="container-fluid">
        <!--Data Card Container Row-->
        <div class="row" style="margin:10px;">
            <!-- Card Projects -->
            <div class="col-md-8">

            <!--Card-1 Starts-->
                <div class="card" id="card-1-main">
                    <div class="card-header">
                    <!--Card Title-->
                        <span class="card-title">Overview</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-1"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    </div>


                    <div class="card-content">
                        <!-- Nav tabs -->
                   
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                             <li role="presentation" class="active"><a href="#highlights" aria-controls="home" role="tab" data-toggle="tab">Highlights</a></li>
                             <li role="presentation"><a href="#downloads" aria-controls="profile" role="tab" data-toggle="tab">Downloads</a></li>
                        </ul>
                        <br>
                    <!-- Tab panes -->
                     <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="highlights">
                        <div class="container-fluid">
                        <ul>
                        <li>ICIMOD partnership with UNIDO for the establishment for a potential Himalayan Centre for LoA MoU IC
                        Renewable Energy and Energy Efficiency ( HCREEE) - UN SE4ALL Centre of Excellence
                        </li>
                        <li>Bilateral workshop between National Natural Science Foundation of China and ICIMOD</li>
                        <li>MoU with RECOFTC for sustainable natural resource management in Himalayan region in China, Myanmar and Nepal</li>
                        </ul>
                        </div>
                        </div>


                        <div role="tabpanel" class="tab-pane" id="downloads">
                        <div class="table-responsive">
                        <table class="table table-striped">
                           <tr>
                           <td>RMC Report</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                           <tr>
                           <td>RP Report</td>
                           <td class="DownloadsViewDisabled"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                           <td>Initiative Report</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                           <td>Partner Profile</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDownDisabled"><a href="#"></a></td>
                           </tr>
                            <td>Development Partner</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                           <td>Partner Distribution</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                            <td>Monthly Report</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                            <td>Infographics</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                        
                        </table>


                        <!--Table Div Ends-->
                        </div>

                        <!--Downloads-Tab Ends-->
                        </div>

                    <!--Tab-content Ends-->
                    </div>
                  <!--Card-content Ends-->  
                </div>

                <!--Card Ends-->  
                </div>
            <!--Column ends-->
            </div>

        <!--Card-2 Starts-->
            <div class="col-md-4">
                <div class="card" id="card-2-main">
                    <div class="card-header">
                    <!--Card Title-->
                        <span class="card-title">Agreements</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-2"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    <!--Card-Header Ends-->  
                    </div>

                    <div class="card-content">
                        
                        <!--Accordation Starts-->
                             <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                      Recently Initiated
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">

                                   
                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                         <li role="presentation" class="active"><a href="#LOA-1" aria-controls="home" role="tab" data-toggle="tab">LoA</a></li>
                                         <li role="presentation"><a href="#MOU-1" aria-controls="profile" role="tab" data-toggle="tab">MoU</a></li>
                                         <li role="presentation"><a href="#IC-1" aria-controls="profile" role="tab" data-toggle="tab">IC</a></li>
                                    </ul>

                    <!-- Tab panes -->
                     <div class="tab-content" style="font-size:11px;">
                        <div role="tabpanel" class="tab-pane active" id="LOA-1">
                        
                            <table class="table table-striped">
                                <tr><td>Research Centre for Applied Science and Technology</td></tr>
                                <tr><td>SAARC Business Association of Home Based Workers</td></tr>
                                <tr><td>Research Centre for Applied Science and Technology</td></tr>
                            </table>


                       

                        <!--LOA-Tab Ends-->
                        </div>


                        <div role="tabpanel" class="tab-pane" id="MOU-1">
                        <p>2</p>

                        <!--MOU-Tab Ends-->
                        </div>

                        <div role="tabpanel" class="tab-pane" id="IC-1">
                        <p>3</p>

                        <!--IC-Tab Ends-->
                        </div>

                    <!--Tab-content Ends-->
                    </div>








                                   <!--Panel Body Ends--> 
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                  <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Upcoming Closing
                                    </a>
                                  </h4>
                                </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body">
                                    

                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                         <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">LoA</a></li>
                                         <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">MoU</a></li>
                                         <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">IC</a></li>
                                    </ul>


                                    <!--Panel Body Ends--> 
                                  </div>
                                </div>
                              </div>


                        <!--Accordation Ends-->
                        </div>


                    <!--Card-content Ends-->  
                    </div>

                 <!--Card Ends-->  
                </div>
            <!--Column ends-->
            </div>


        <!--Card-3 Starts-->
            <div class="col-md-6">
                <div class="card" id="card-3-main">
                    <div class="card-header">
                    <!--Card Title-->
                        <span class="card-title">Updates- July, 2016</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-3"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    <!--Card-Header Ends--> 
                    </div>

                    <div class="card-content">
                                        
                    <table class="table table-striped">
                        <tr><td data-sparkline="3, 26, -41, -30 ; column">
                        <div class="left">
                            <!-- Space for sparkline Chart -->
                        </div>
                         <div class="right DefaultPadding">   
                        <div class="DefaultMargin" id = "rcorners1">
                        <!-- Updating Data -->
                        <p><span>80</span>
                        <br>Contracts</p></div>
                        <p>Trends of ongoing Partnership</p>
                        </div>

                        </td></tr>
                        
                        <tr><td>
                        <div class="left">
                            
                            <div class="rcorners2">
                                  <p><span>236</span><br></p>                              
                            </div>
                            <div class="rcorners2">
                                  <p><span>26M$</span></p>                              
                            </div>
                            <p>Trends of ongoing Partnership</p>
                        <!-- Left side div ends -->    
                        </div>
                        <div class="right">

                        <!-- Right Side Div ends -->
                        </div>    
                        </td></tr>
                        <tr><td>3</td></tr>
                    </table>
                    



                    <!--Card-content Ends-->
                    </div>


                 <!--Card Ends-->  
                </div>
            <!--Column ends-->
            </div>

        <!--Card-4 Starts-->
            <div class="col-md-6">
                <div class="card" id="card-4-main">
                    <div class="card-header">
                    <!--Card Title-->
                        <span class="card-title">Partners Landscape</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-4"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    <!--Card-Header Ends-->
                    </div>

                    <div class="card-content">
                       
                    <div class="container-fluid">


                      <ul class="nav nav-tabs nav-justified" role="tablist">
                          <li role="presentation" class="active"><a href="#RMC1" aria-controls="RMC1" role="tab" data-toggle="tab">RMC</a></li>
                           <li role="presentation"><a href="#RP1" aria-controls="RP1" role="tab" data-toggle="tab">RP</a></li>
                           <li role="presentation"><a href="#Initiative" aria-controls="Initiative" role="tab" data-toggle="tab">Initiative</a></li>
                        </ul>

                                           
                           



                          <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active DefaultPadding" id="RMC1">

                         <div class="form-group">
                                 
                                  <select class="form-control" id="sel1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                  </select>
                            </div>
                        
                           <img class= "img-responsive" src="http://prmdemo.icimod.org/Content/Uploads/Images/LandscapeMaps/1d364f50-a74e-4802-8073-603f43267e43Bhutan.jpg">                

                        <!--LOA-Tab Ends-->
                        </div>


                        <div role="tabpanel" class="tab-pane DefaultPadding" id="RP1">
                        
                        <div class="form-group">
                                 
                                  <select class="form-control" id="sel1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                  </select>
                            </div>
                        
                           <img class= "img-responsive" src="http://prmdemo.icimod.org/Content/Uploads/Images/LandscapeMaps/4f8e2862-33ea-438f-84ca-c36803f8ce73RP1-1024x1024.jpg">                

                        <!--MOU-Tab Ends-->
                        </div>

                        <div role="tabpanel" class="tab-pane DefaultPadding" id="Initiative">
                       
                       <div class="form-group">
                                 
                                  <select class="form-control" id="sel1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                  </select>
                            </div>
                        
                           <img class= "img-responsive" src="http://prmdemo.icimod.org/Content/Uploads/Images/LandscapeMaps/622c39ad-94a8-4ca5-bff0-f22766ef86d0RP1-AdaptHimal-1024x1024.jpg"> 

                        <!--IC-Tab Ends-->
                        </div>

                     <!-- Container-Fluid Ends -->   
                    </div>
                    <!--Tab-content Ends-->
                    </div>


                   <!--Card-content Ends-->
                    </div>



                <!--Card Ends-->
                </div>
             <!--Column ends-->
            </div>

        <!--Card-5 Starts-->
            <div class="col-md-12">
                <div class="card" id="card-5-main">
                    <div class="card-header">
                     <!--Card Title-->
                        <span class="card-title">Chart View</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-5"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    <!--Card-Header Ends-->
                    </div>

                    <div class="card-content">
                        <div class="row container-fluid">
                        <div class="col-md-12 chartView">
                          

                         <!-- ChartView Ends -->   
                        </div>
                        <div class="col-md-12 selectChartTitle">
                         <p>Select Charts</p>
                         <!-- SelectChartTitle Ends -->   
                        </div>

                         <div class="col-md-12">
                        <div class="circle chartPrevious">
                            <a href="#" id="previousChart"><i class="fa fa-chevron-left fa-bold" style="color:#fff;" aria-hidden="true"></i></a>
                        </div>
                         
                        <div class="circle chartNext">
                        <a href="#" id="nextChart"><i class="fa fa-chevron-right fa-bold" style="color:#fff;" aria-hidden="true"></i></a>
                        </div>
                        </div>
                        
                        <div class="col-md-12">


                            <div class="chartsSelect">
                                <div>
                                <!-- Chart-1 -->
                                <div class="chartHolder chart1"></div>
                                <div class="chartRadioContainer"><input id="chart1" type="radio" aria-label="..." name="chartGroup" checked="checked"></div>
                                </div>
                                <div> 
                                <!-- Chart-2 -->
                                <div class="chartHolder chart2"></div>
                                <div class="chartRadioContainer"><input class="cardRadio" id="chart2" type="radio" aria-label="..." name="chartGroup"></div>
                                 <!-- Chart-2 Ends-->
                                </div>
                                
                                <div>
                                <!-- Chart-3 -->
                                <div class="chartHolder chart3"></div>
                                <div class="chartRadioContainer"><input class="cardRadio" id="chart3" type="radio" aria-label="..." name="chartGroup" ></div>
                                 <!-- Chart-3 Ends-->
                                </div>

                                <div>
                                <!-- Chart-4 -->
                                <div class="chartHolder chart4"></div>
                                <div class="chartRadioContainer">
                                <input class="cardRadio" id="chart4" type="radio" aria-label="..." name="chartGroup">

                                </div>
                                <!-- Chart-4 Ends -->
                                </div>

                                <div>
                                <!-- Chart-5 -->
                                <div class="chartHolder chart5"></div>
                                <div class="chartRadioContainer"><input class="cardRadio" id="chart5" type="radio" aria-label="..." name="chartGroup"></div>
                                <!-- Chart-5 Ends-->
                                </div>
                                <!-- Chart-6 -->
                                <div>
                                <div class="chartHolder chart6"></div>
                                <div class="chartRadioContainer"><input class="cardRadio" id="chart6" type="radio" aria-label="..." name="chartGroup"></div>
                                <!-- Chart-6 Ends-->
                                </div>
                                
                                 <div>
                                <!-- Chart-7 -->
                                 <div class="chartHolder chart7"></div>
                                 <div class="chartRadioContainer"><input class="cardRadio" id="chart7" type="radio" aria-label="..." name="chartGroup"></div>
                                 <!-- Chart-7 Ends-->
                                 </div>

                                
                            </div>
                       
                       
                       
                       
                        


                        <!-- ChartSelect Ends -->
                        </div>
                        

                        <!-- Chart View Row ends -->
                        </div>

                     <!--Card-content Ends-->
                    </div>

                <!--Card Ends-->
                </div>
            <!--Column ends-->
            </div>

        <!--Card-6 Starts-->
            <div class="col-md-12">
                <div class="card" id="card-6-main">
                    <div class="card-header">
                     <!--Card Title-->
                        <span class="card-title">Maps</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-6"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    <!--Card-Header Ends-->
                    </div>

                    <div class="card-content">
                        <p>Basic data card</p>
                    
                    <!--Card-content Ends-->
                    </div>


                 <!--Card Ends-->
                </div>
            <!--Column ends-->
            </div>





        <!--Row Ends-->
        </div>

        <br><br>


        <!--Content Container ends-->
    </div>
    <!--Content row ends-->
</div>




                