@{
    ViewBag.Title = "ICIMOD-PRM";
}


<div class="main-image">
    <!--Updating Content-->
    <div class="row">

        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 100px; padding-left: 50px;">
            
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 100px; padding-left: 50px;">
           
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 100px; padding-left: 50px;">
            
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 100px; padding-left: 50px;">
           
        </div>


        <!--Main Image Row end-->
    </div>
    <!--Main Image div end-->
</div>

<div class="row" >

    <div class="container-fluid">
        <!--Data Card Container Row-->
        <div class="row" style="margin:10px;">
            <!-- Card Projects -->
            <div class="col-md-8">

            <!--Card-1 Starts-->
                <div class="card" id="card-1-main">
                    <div class="card-header">
                    <!--Card Title-->
                        <span class="card-title">Overview</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-1"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    </div>


                    <div class="card-content">
                        <!-- Nav tabs -->
                   
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                             <li role="presentation" class="active"><a href="#highlights" aria-controls="home" role="tab" data-toggle="tab">Highlights</a></li>
                             <li role="presentation"><a href="#downloads" aria-controls="profile" role="tab" data-toggle="tab">Downloads</a></li>
                        </ul>
                        <br>
                    <!-- Tab panes -->
                     <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="highlights">
                        <div class="container-fluid">
                        <ul>
                        <li>ICIMOD partnership with UNIDO for the establishment for a potential Himalayan Centre for LoA MoU IC
                        Renewable Energy and Energy Efficiency ( HCREEE) - UN SE4ALL Centre of Excellence
                        </li>
                        <li>Bilateral workshop between National Natural Science Foundation of China and ICIMOD</li>
                        <li>MoU with RECOFTC for sustainable natural resource management in Himalayan region in China, Myanmar and Nepal</li>
                        </ul>
                        </div>
                        </div>


                        <div role="tabpanel" class="tab-pane" id="downloads">
                        <div class="table-responsive">
                        <table class="table table-striped">
                           <tr>
                           <td>RMC Report</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                           <tr>
                           <td>RP Report</td>
                           <td class="DownloadsViewDisabled"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                           <td>Initiative Report</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                           <td>Partner Profile</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDownDisabled"><a href="#"></a></td>
                           </tr>
                            <td>Development Partner</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                           <td>Partner Distribution</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                            <td>Monthly Report</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                            <td>Infographics</td>
                           <td class="DownloadsView"><a href="#"></a></td>
                           <td class="DownloadsDown"><a href="#"></a></td>
                           </tr>
                        
                        </table>


                        <!--Table Div Ends-->
                        </div>

                        <!--Downloads-Tab Ends-->
                        </div>

                    <!--Tab-content Ends-->
                    </div>
                  <!--Card-content Ends-->  
                </div>

                <!--Card Ends-->  
                </div>
            <!--Column ends-->
            </div>

        <!--Card-2 Starts-->
            <div class="col-md-4">
                <div class="card" id="card-2-main">
                    <div class="card-header">
                    <!--Card Title-->
                        <span class="card-title">Agreements</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-2"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    <!--Card-Header Ends-->  
                    </div>

                    <div class="card-content">
                        
                        <!--Accordation Starts-->
                             <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                      Recently Initiated
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">

                                   
                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                         <li role="presentation" class="active"><a href="#LOA-1" aria-controls="home" role="tab" data-toggle="tab">LoA</a></li>
                                         <li role="presentation"><a href="#MOU-1" aria-controls="profile" role="tab" data-toggle="tab">MoU</a></li>
                                         <li role="presentation"><a href="#IC-1" aria-controls="profile" role="tab" data-toggle="tab">IC</a></li>
                                    </ul>

                    <!-- Tab panes -->
                     <div class="tab-content" style="font-size:11px;">
                        <div role="tabpanel" class="tab-pane active" id="LOA-1">
                        
                            <table class="table table-striped">
                                <tr><td>Research Centre for Applied Science and Technology</td></tr>
                                <tr><td>SAARC Business Association of Home Based Workers</td></tr>
                                <tr><td>Research Centre for Applied Science and Technology</td></tr>
                            </table>


                       

                        <!--LOA-Tab Ends-->
                        </div>


                        <div role="tabpanel" class="tab-pane" id="MOU-1">
                        <p>2</p>

                        <!--MOU-Tab Ends-->
                        </div>

                        <div role="tabpanel" class="tab-pane" id="IC-1">
                        <p>3</p>

                        <!--IC-Tab Ends-->
                        </div>

                    <!--Tab-content Ends-->
                    </div>








                                   <!--Panel Body Ends--> 
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                  <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Upcoming Closing
                                    </a>
                                  </h4>
                                </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body">
                                    

                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                         <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">LoA</a></li>
                                         <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">MoU</a></li>
                                         <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">IC</a></li>
                                    </ul>


                                    <!--Panel Body Ends--> 
                                  </div>
                                </div>
                              </div>


                        <!--Accordation Ends-->
                        </div>


                    <!--Card-content Ends-->  
                    </div>

                 <!--Card Ends-->  
                </div>
            <!--Column ends-->
            </div>


        <!--Card-3 Starts-->
            <div class="col-md-6">
                <div class="card" id="card-3-main">
                    <div class="card-header">
                    <!--Card Title-->
                        <span class="card-title">Updates- July, 2016</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-3"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    <!--Card-Header Ends--> 
                    </div>

                    <div class="card-content">
                        <p>Basic data card</p>
                    
                    <!--Card-content Ends-->
                    </div>


                 <!--Card Ends-->  
                </div>
            <!--Column ends-->
            </div>

        <!--Card-4 Starts-->
            <div class="col-md-6">
                <div class="card" id="card-4-main">
                    <div class="card-header">
                    <!--Card Title-->
                        <span class="card-title">Partners Landscape</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-4"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    <!--Card-Header Ends-->
                    </div>

                    <div class="card-content">
                        <p>Basic data card</p>
                    
                    <!--Card-content Ends-->
                    </div>



                <!--Card Ends-->
                </div>
             <!--Column ends-->
            </div>

        <!--Card-5 Starts-->
            <div class="col-md-12">
                <div class="card" id="card-5-main">
                    <div class="card-header">
                     <!--Card Title-->
                        <span class="card-title">Chart View</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-5"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    <!--Card-Header Ends-->
                    </div>

                    <div class="card-content">
                        <p>Basic data card</p>

                     <!--Card-content Ends-->
                    </div>

                <!--Card Ends-->
                </div>
            <!--Column ends-->
            </div>

        <!--Card-6 Starts-->
            <div class="col-md-12">
                <div class="card" id="card-6-main">
                    <div class="card-header">
                     <!--Card Title-->
                        <span class="card-title">Maps</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-6"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                    <!--Card-Header Ends-->
                    </div>

                    <div class="card-content">
                        <p>Basic data card</p>
                    
                    <!--Card-content Ends-->
                    </div>


                 <!--Card Ends-->
                </div>
            <!--Column ends-->
            </div>





        <!--Row Ends-->
        </div>

        <br><br>


        <!--Content Container ends-->
    </div>
    <!--Content row ends-->
</div>
