@{
    ViewBag.Title = "PartnerLandscape";
}
<style>

	.mainSection {
		padding: 15px;
	}

	.headerSection {
		margin-bottom: 30px;
	}
	.reportSection {
		border-bottom: 2px solid #eeeeee;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.reportSection .reportName {
		margin-right: 0px;
	}
	.reportSection button {
		margin-bottom: 20px;
	}
</style>
<div class="row">

    <div class="container-fluid">
        <!--Data Card Container Row-->
        <div class="row" style="margin:10px;">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <!--Card Title-->
                        <span class="card-title">Partner Landscape</span>
                        <!-- <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-3"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span> -->
                        <!--Card-Header Ends-->
                    </div>
                   
                    <div class="card-content">
                       
                    <div class="mainSection">
                    	<div class="headerSection">
                    		<h3 class="text-center">Generate Partner Landscape Report</h3>
                    	</div>
                    	<div class="reportSection row">
                    		<div class="col-md-2">
	                    	<span class="reportName">Country:</span>
	                    	</div>
	                    	<div class="col-md-10">
	                    	<button type="button" class="btn btn-primary">Afganistan</button>
	                    	<button type="button" class="btn btn-primary">Bangladesh</button>
	                    	<button type="button" class="btn btn-primary">Bhutan</button>
	                    	<button type="button" class="btn btn-primary">China</button>
	                    	<button type="button" class="btn btn-primary">India</button>
	                    	<button type="button" class="btn btn-primary">Mayanmar</button>
	                    	<button type="button" class="btn btn-primary">Nepal</button>
	                    	<button type="button" class="btn btn-primary">Pakistan</button>
	                    	</div>
                    	</div>
                    	<div class="reportSection row">
                    		<div class="col-md-2">
	                    	<span class="reportName" >Regional Programme:</span>
	                    	</div>
	                    	<div class="col-md-10">
	                    	<button type="button" class="btn btn-primary">Adaption to change</button>
	                    	<button type="button" class="btn btn-primary">Transboundary LandscapeR</button>
	                    	<button type="button" class="btn btn-primary">River Basin</button>
	                    	<button type="button" class="btn btn-primary">Cryosphere and Atmosphere</button>
	                    	<button type="button" class="btn btn-primary">Mounain Enviromental Regional Information System(MENRIS)</button>
	                    	<button type="button" class="btn btn-primary">Himaliyan University Consortium(HUC)</button>
	                    	</div>
	                    	
                    	</div>
                    	<div class="reportSection row">
                    		<div class="col-md-2">
	                    	<span class="reportName" >Adaptation To Change:</span>
	                    	</div>
	                    	<div class="col-md-10">
	                    	<button type="button" class="btn btn-primary">AdaptHimal</button>
	                    	<button type="button" class="btn btn-primary">HICAP</button>
	                    	<button type="button" class="btn btn-primary">Himalica</button>
	                    	
	                    	</div>
	                    	
                    	</div>
                    	<div class="reportSection row">
                    		<div class="col-md-2">
	                    	<span class="reportName" >Transboundary Landscape:</span>
	                    	</div>
	                    	<div class="col-md-10">
	                    	<button type="button" class="btn btn-primary">CCHTLCDI</button>
	                    	<button type="button" class="btn btn-primary">KSLCDI</button>
	                    	<button type="button" class="btn btn-primary">KPLCDI</button>
	                    	<button type="button" class="btn btn-primary">REDD</button>
	                    	<button type="button" class="btn btn-primary">WCLCDI</button>
                   	
	                    	</div>
	                    	
                    	</div>
                    	<div class="reportSection row">
                    		<div class="col-md-2">
	                    	<span class="reportName" >River Basins:</span>
	                    	</div>
	                    	<div class="col-md-10">
	                    	<button type="button" class="btn btn-primary">HI-AWARE</button>
	                    	<button type="button" class="btn btn-primary">HKH-HYCOS</button>
	                    	<button type="button" class="btn btn-primary">Indus</button>
	                    	<button type="button" class="btn btn-primary">Koshi</button>
                  	
	                    	</div>
	                    	
                    	</div>

                    	<div class="reportSection row">
                    		<div class="col-md-2">
	                    	<span class="reportName" >Cryosphere and Atmosphere:</span>
	                    	</div>
	                    	<div class="col-md-10">
	                    	<button type="button" class="btn btn-primary">Atmosphere</button>
	                    	<button type="button" class="btn btn-primary">Cyrosphere</button>
                  	
	                    	</div>
	                    	
                    	</div>
                    	<div class="reportSection row">
                    		<div class="col-md-2">
	                    	<span class="reportName" >MENRIS:</span>
	                    	</div>
	                    	<div class="col-md-10">
	                    	<button type="button" class="btn btn-primary">SERVIR</button>
	                    	<button type="button" class="btn btn-primary">RDS</button>
                  	
	                    	</div>
	                    	
                    	</div>
                    	
                   	
                   		<!-- Main Section Ends -->
                    </div>
                       
                        <!--Card-content Ends-->
                    </div>


                    <!--Card Ends-->
                </div>
                <!--Column ends-->
            </div>

        </div>
    </div>
</div>
