@{
    ViewBag.Title = "AddClauses";
}
 
<div class="row">

    <div class="container-fluid">
        <!--Data Card Container Row-->
        <div class="row" style="margin:10px;">

            <div class="col-md-12">
                <div class="card" id="card-3-main">
                    <div class="card-header">
                        <!--Card Title-->
                        <span class="card-title">Add New Clauses</span>
                        <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-3"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span>
                        <!--Card-Header Ends-->
                    </div>
                    
                    <div class="card-content">
                        <label class="control-label col-sm-12" style="text-align:center;display:block;margin-bottom:10px;">Codes for Names</label>

                        <div class="col-sm-12">
                            <div class="mce-holder" style="height:auto;">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="list-code-name">Agreement Number</label>
                                        <label>:</label>
                                        <label class="list-code-code">{AgreementNumber}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Partner Name</label>
                                        <label>:</label>
                                        <label class="list-code-code">{PartnerName}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Project Title</label>
                                        <label>:</label>
                                        <label class="list-code-code">{ProjectTitle}</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="list-code-name">RP/Initiatives</label>
                                        <label>:</label>
                                        <label class="list-code-code">{RPInitiatives}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Country</label>
                                        <label>:</label>
                                        <label class="list-code-code">{Country}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Start Date</label>
                                        <label>:</label>
                                        <label class="list-code-code">{StartDate}</label>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="list-code-name">End Date</label>
                                        <label>:</label>
                                        <label class="list-code-code">{EndDate}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Project Period</label>
                                        <label>:</label>
                                        <label class="list-code-code">{ProjectPeriod}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Project Objective</label>
                                        <label>:</label>
                                        <label class="list-code-code">{ProjectObjective}</label>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="list-code-name">Amount</label>
                                        <label>:</label>
                                        <label class="list-code-code">{Amount}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Amount In Words</label>
                                        <label>:</label>
                                        <label class="list-code-code">{AmountInWords}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Amount In USD</label>
                                        <label>:</label>
                                        <label class="list-code-code">{AmountInUSD}</label>
                                    </div>
                                </div>
                                
                              
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="list-code-name">Deliverables</label>
                                        <label>:</label>
                                        <label class="list-code-code">{Deliverables}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Addendum Section</label>
                                        <label>:</label>
                                        <label class="list-code-code">{AddendumSection}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Loa Ref No</label>
                                        <label>:</label>
                                        <label class="list-code-code">{LoaRefNo}</label>
                                    </div>
                                </div>
                                 
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="list-code-name">Addendum Purpose</label>
                                        <label>:</label>
                                        <label class="list-code-code">{A.Purpose}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Clauses</label>
                                        <label>:</label>
                                        <label class="list-code-code">{clauses}</label>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="list-code-name">Focal Persons</label>
                                        <label>:</label>
                                        <label class="list-code-code">{FocalPersons}</label>
                                    </div>
                                </div>
                                 
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="list-code-name">Signatories</label>
                                        <label>:</label>
                                        <label class="list-code-code">{Signatories}</label>
                                    </div>

                                    <div class="col-sm-4">

                                    </div>

                                    <div class="col-sm-4">

                                    </div>
                                </div> 

                                
                            </div>
                        </div>

                        <div class="col-sm-12"><div class="horizontal-line"></div></div>
                        <form role="form" style="margin-top:20px;">
                            <div class="row">
                                <div class="col-sm-5"></div>
                                <div class="col-sm-3" style="text-align:center">
                                    <div class="form-group">
                                        <label class="control-label">Agreement Type</label>

                                        <select id="PartneringInstrumentId" class="form-control">
                                            <option value="10">Addendum for LoA</option>
                                            <option value="9">Addendum of Institutional Contract</option>
                                            <option value="4">Institutional Contract Type A</option>
                                            <option value="5">Institutional Contract Type B</option>
                                            <option value="6">Institutional Contract Type C</option>
                                            <option value="1">LoA Type A</option>
                                            <option value="2">LoA Type B</option>
                                            <option value="3">LoA Type C</option>
                                            <option value="8">LoI (Letter of Intent)</option>
                                            <option value="7">MoU</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-sm-6"></div>

                                <div class="col-sm-12">
                                    <div class="mce-holder"></div>
                                </div>

                            </div>

                           

                            <div class="row">
                                <div class="col-sm-12"><div class="horizontal-line"></div></div>

                                <div style="float:right;margin-right:30px;">
                                    <button type="submit" class="btn btn-primary">Save and Continue</button>
                                    <button type="submit" class="btn btn-primary">Cancel</button>
                                </div>
                            </div>
                        </form>

                        <!--Card-content Ends-->
                    </div>


                    <!--Card Ends-->
                </div>
                <!--Column ends-->
            </div>

        </div>
    </div>
</div>
