@{
    ViewBag.Title = "View Initiative Profile";
}
@*<div class="card" style="margin-top:55px;position:fixed;width:100%;">
        <div class="card-header"><span class="card-title">Partner Information: View Profile</span></div>
    </div>*@

<div class="row" style="margin-top:55px;">

    <div class="container-fluid">

        <!--Data Card Container Row-->
        <div class="row" style="margin:10px;">

            <div class="col-md-12">
                <div class="card">
                    <div class="profile-header">
                        <!--Card Title-->
                        <div id="profile_logo" class="img-frame">
                            <div class="img-holder">
                                <img class="img-responsive" src="http://prm.icimod.org/Content/Uploads/Images/LandscapeMaps/3ce2f04a-4177-415a-bff8-5b6e0a5e97b7RP1-HICAP-1024x1024.jpg" style="height:90px;width:auto;">
                            </div>
                            <div class="down-btn">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        @*<div id="profile_info" class="profile-header-infoholder" style="width:680px;height:440px">
                            <div class="row">
                                <div class="col-md-6" style="border-right:1px solid #ddd">
                                    <div class="profile-list">
                                        <div class="row listitem">
                                            <div class="col-sm-5 title">Country:</div>
                                            <div class="col-sm-7 txt">India</div>
                                        </div>
                                        <div class="row listitem">
                                            <div class="col-sm-5 title">Established Year:</div>
                                            <div class="col-sm-7 txt">1958</div>
                                        </div>
                                        <div class="row listitem">
                                            <div class="col-sm-5 title">Nature of Institution:</div>
                                            <div class="col-sm-7 txt">Research</div>
                                        </div>
                                        
                                        <div class="row listitem">
                                            <div class="col-sm-5 title">Core Competencies:</div>
                                            <div class="col-sm-7 txt">Teaching and research in social sciences</div>
                                        </div>
                                        
                                        <div class="row listitem">
                                            <div class="col-sm-5 title">
                                                Contact Person:
                                            </div>
                                            <div class="col-sm-7 txt">
                                                <div>Prof DM Diwakar</div>
                                                <div><i>Director</i></div>
                                                <div style="font-size:12px;margin-left:-12px;"><i class="fa fa-phone" aria-hidden="true"> N/A</i></div>
                                                <div style="font-size:12px;margin-left:-12px;"><i class="fa fa-envelope-o" aria-hidden="true"> dmdiwakar@yahoo.com.in</i></div>
                                                <div style="font-size:12px;margin-left:-12px;"><i class="fa fa-skype" aria-hidden="true"> N/A</i></div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                              
                                <div class="col-md-6">
                                    <div id="profile_map" style="padding-left:10px;">

                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-12">
                                    <div style="width:100%;background-color:#d9edf7;border:1px solid #ddd; padding: 8px;">
                                        ICIMOD Focus Area
                                    </div>
                                    <div style="height:112px;border-color:#ddd;border-style:solid;border-width:0 1px 1px 1px;overflow-y:auto;padding: 8px;font-size: 13px;">
                                        <div>Sustainable Livelihoods</div>
                                    </div>
                                </div>
                            </div>
                        </div>*@


                        <div class="profile-header-info">
                            <div style="font-size:24px; ">
                                <span>
                                    Himalayan Climate Change Adaptation Programme (HICAP)
                                    <a href="#" style="margin-left:10px;color:white"><i class="icon-pdf" aria-hidden="true"></i></a>
                                </span>
                            </div>
                            <div> Regional Programme : Adaptation to Change</div>
                            <div> Countries covered : China, India, Nepal, Pakistan</div>
                            <div> Initiative Coordinator : Nand Kishor Agrawal</div>
                        </div>

                        <div id="btnsearch_Partner" class="profile-header-btn">
                            <span style="font-size:40px;">
                                <i class="fa fa-search" aria-hidden="true"></i>

                            </span>
                            Select Initiative
                        </div>
                        <div id="search_Partner" class="profile-header-btn-dropholder" style="width:250px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="selInitative" style="font-weight:normal;font-size:13px;">Initiative:</label>
                                        <select id="selInitative">
                                            <optgroup label="Adaptation to Change">
                                                <option value="1">AdaptHimal</option>
                                                <option selected="selected" value="2">HICAP</option>
                                                <option value="3">Himalica</option>
                                            </optgroup>
                                            <optgroup label="Transboundary Landscapes">
                                                <option value="5">Cherrapunjee-Chittagong</option>
                                                <option value="4">HI-LIFE</option>
                                                <option value="6">Kailash</option>
                                                <option value="7">Kangchenjunga</option>
                                                <option value="8">Karakoram-Pamir</option>
                                                <option value="36">REDD+</option>
                                                <option value="30">WCLCDI</option>
                                            </optgroup>
                                            <optgroup label="River Basins">
                                                <option value="22">HI-AWARE</option>
                                                <option value="10">HYCOS</option>
                                                <option value="12">Indus</option>
                                                <option value="11">Koshi</option>
                                            </optgroup>
                                            <optgroup label="Cryosphere and Atmosphere">
                                                <option value="13">Atmosphere</option>
                                                <option value="14">Cryosphere</option>
                                            </optgroup>
                                            <optgroup label="Mountain Environment Regional Information System (MENRIS)">
                                                <option value="16">Regional Database</option>
                                                <option value="15">SERVIR Himalaya</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>


                                
                            </div>
                        </div>


                        <!-- <span class="cardButton"><a href="#" class="cardCollapseLink" id="card-3"><i class="fa fa-chevron-circle-down fa-lg fa-bold" style="color:#ffffff;" aria-hidden="true"></i></a></span> -->
                        <!--Card-Header Ends-->
                    </div>

                    <div class="card-content">

                        <ul class="nav nav-tabs tabs-modified" role="tablist">
                            <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
                            <li role="presentation"><a href="#typology" aria-controls="typology" role="tab" data-toggle="tab">Typology of Partners</a></li>
                            <li role="presentation"><a href="#partnershipInfo" aria-controls="partnershipInfo" role="tab" data-toggle="tab">Partnership Information</a></li>
                            <li role="presentation"><a href="#partnershipLandscape" aria-controls="partnershipLandscape" role="tab" data-toggle="tab">Partnership Landscape</a></li>
                            <li role="presentation"><a href="#partnershipTracker" aria-controls="partnershipTracker" role="tab" data-toggle="tab">Deliverables Tracking</a></li>
                            <li role="presentation"><a href="#charts" aria-controls="charts" role="tab" data-toggle="tab">Charts</a></li>
                        </ul>

                        <div class="tab-content" style="overflow-x:hidden;overflow-y:auto;">
                           

                            <div role="tabpanel" class="tab-pane active" id="description">

                                <div class="row">
                                    <br>
                                    <div class="col-md-6">

                                        <h4>BRIEF DESCRIPTION</h4>
                                        <p style="text-align:justify">
                                            Himalayan Climate Change Adaptation Programme (HICAP) is a pioneering collaboration among three organizations – CICERO, ICIMOD, and GRID-Arendal – aimed at contributing to enhanced resilience of mountain communities, particularly women, through improved understanding of vulnerabilities, opportunities, and potentials for adaptation. Women in the region have important responsibilities as stewards of natural and household resources and are therefore well positioned to contribute to adaptation strategies; but they are more vulnerable than men to climate change as they face more social, economic, and political barriers limiting their coping capacity.
                                        </p>
                                        <br />
                                        <p style="text-align:justify">
                                            HICAP will generate knowledge of climate change impacts on natural resources, ecosystem services, and the communities depending on them, contributing to policy and practice for enhanced adaptation.
                                        </p>
                                    </div>
                                    <div class="col-md-6" style="text-align:justify">
                                        <h4>OBJECTIVES</h4>
                                        <ul>
                                            <li>To increase understanding of uncertainties influencing climate change scenarios and water availability and demand projections for parts of major river basins,and to encourage use of the knowledge thus created.</li>
                                            <li>To enhance capacities to assess, monitor, communicate, prepare for, and undertake actions To respond to challenges and opportunities from impacts of climate change and other drivers of change.</li>
                                            <li>To make concrete and actionable proposals on strategies and policies (with particular reference to women and the poor) for uptake by stakeholders, including policy makers.</li>
                                           
                                        </ul>
                                    </div>

                                </div>
                                <!-- Partner Profile Ends -->
                            </div>


                            <div role="tabpanel" class="tab-pane" id="typology">
                                <div class="row" style="margin-bottom:15px;">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" style="font-weight:normal;">Country:</label>
                                            <div class="col-md-8">
                                                <select id="selInitative_country">
                                                    <option>All</option>
                                                    <option>Australia</option>
                                                    <option>China</option>
                                                    <option>India</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                <table class="table table-striped table-hover table-bordered" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th data-field="Partners">Partner Organisations</th>
                                            <th data-field="Strategic">Strategic and Policy Partners</th>
                                            <th data-field="Implementation">Implementation Partners</th>
                                            <th data-field="Development">Development Partners</th>
                                            <th data-field="Knowledge">Knowledge Partners and Networks </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/4481">Commonwealth Scientific and Industrial Research Organisation  </a>, Australia
                                            </td>


                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/1140">Asian International Rivers Center     </a>, China
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/16">Chengdu Institute of Biology </a>, China
                                            </td>


                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/3">Institute of Geographic Sciences and Natural Resources Research  </a>, China
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/60">Kunming Institute of Botany </a>, China
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/53">Sichuan University </a>, China
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/4">Yunnan Academy of Social Sciences </a>, China
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/91">Yunnan Institute of Environmental Science  </a>, China
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/1160">Yunnan University </a>, China
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/57">Aaranyak </a>, India
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/88">Institute of Integrated Resource Management </a>, India
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/89">Swayam Shikshan Prayog  </a>, India
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/72">Center For Environmental And Agricultural Policy Research, Extension And Development </a>, Nepal
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/48">South Asian Network for Development and Environmental Economics  </a>, Nepal
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/40">World Wildlife Fund, Nepal </a>, Nepal
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/4303">Center for International Climate and Environment Research-Oslo </a>, Norway
                                            </td>


                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/2165">Norwegian Ministry of Foreign Affairs </a>, Norway
                                            </td>


                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/4304">United Nations Environment Programme (UNEP)/GRID-ARENDAL </a>, Norway
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/29">Pakistan Agricultural Research Council </a>, Pakistan
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/4381">Pakistan Wildlife Foundation  </a>, Pakistan
                                            </td>


                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <a href="/ExistingPartner/Detail/4326">Swedish International Development Cooperation Agency </a>, Sweden
                                            </td>


                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #0090FF; height: 14px; width: 14px"></div>
                                            </td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                            <div role="tabpanel" class="tab-pane" id="partnershipInfo">

                                <div class="row" style="margin-bottom:15px;">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" style="font-weight:normal;">Country:</label>
                                            <div class="col-md-8">
                                                <select id="selInitative_country">
                                                    <option>All</option>
                                                    <option>Australia</option>
                                                    <option>China</option>
                                                    <option>India</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-6" style="font-weight:normal;">Typology of Partner:</label>
                                            <div class="col-md-6">
                                                <select id="selInitative_country">
                                                    <option>Strategic and Policy Partners</option>
                                                    <option>Implementation Partners</option>
                                                     
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-striped table-hover table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th colspan="2" data-field="Partners"><h4><b>1 . Commonwealth Scientific and Industrial Research Organisation  <br> <span style="margin-left: 20px;">Australia</span></b> </h4> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-md-3">
                                                Brief Profile
                                            </td>

                                            <td class="col-md-6">
                                                <p style="text-align: justify;">The Commonwealth Scientific and Industrial Research Organisation (CSIRO) is the federal government agency for scientific research in Australia and is based in Canberra. It was founded in 1916 as the Advisory Council of Science and Industry, evolved to the Institute of Science and Industry in 1920 and the Council for Scientific and Industrial Research (CSIR) in 1926</p>
                                                <p style="text-align: justify;">&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                MoU Title
                                            </td>

                                            <td class="col-md-6">
                                                N/A
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Purpose
                                            </td>

                                            <td class="col-md-6">
                                                N/A
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Duration
                                            </td>

                                            <td class="col-md-6">
                                                September 21, 2012 -
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <!-- tracker Ends -->
                            </div>

                            <div role="tabpanel" class="tab-pane" id="partnershipLandscape">
                                <div style="height: 100%;width: auto;text-align:center;overflow:hidden;">
                                    <img src="http://prm.icimod.org/Content/Uploads/Images/LandscapeMaps/3ce2f04a-4177-415a-bff8-5b6e0a5e97b7RP1-HICAP-1024x1024.jpg" alt="" style="height: 100%;width:auto">
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="partnershipTracker">
                                <div class="row" style="margin-bottom:15px;">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" style="font-weight:normal;">Country:</label>
                                            <div class="col-md-8">
                                                <select  id="selInitative_country">
                                                    <option>All</option>
                                                    <option>Australia</option>
                                                    <option>China</option>
                                                    <option>India</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-5" style="font-weight:normal;">Planned Date:</label>
                                            <div class="col-md-7">
                                                <input  type="text"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <table class="table table-striped table-hover table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th data-field="Partners">Partner Organisations</th>
                                            <th data-field="Strategic">Requisition Number</th>
                                            <th data-field="Implementation">Deliverables</th>

                                            <th data-field="Partners">Planned Date</th>
                                            <th data-field="Strategic">Actual Date</th>

                                            <th data-field="Implementation">Performance Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="15" class="col-md-3">
                                                <a href="/ExistingPartner/Detail/1140">Asian International Rivers Center     </a>, China

                                            </td>
                                            <td rowspan="15" class="col-md-1">
                                                PNREQ000019

                                            </td>
                                            <td class="col-md-3">
                                                Budget and work plan for 2012
                                            </td>
                                            <td class="col-md-2">
                                                June 1, 2012
                                            </td>
                                            <td class="col-md-2">
                                                April 12, 2012
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Budget and work plan for 2013
                                            </td>
                                            <td class="col-md-2">
                                                December 1, 2012
                                            </td>
                                            <td class="col-md-2">
                                                August 1, 2013
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Budget and work plan for 2014
                                            </td>
                                            <td class="col-md-2">
                                                September 1, 2013
                                            </td>
                                            <td class="col-md-2">
                                                January 2, 2013
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Budget and work plan for 2015
                                            </td>
                                            <td class="col-md-2">
                                                September 1, 2014
                                            </td>
                                            <td class="col-md-2">
                                                January 1, 2014
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Six monthly progress report Jan-June 2013
                                            </td>
                                            <td class="col-md-2">
                                                July 1, 2013
                                            </td>
                                            <td class="col-md-2">
                                                June 7, 2013
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Six monthly progress report Jan-June 2014
                                            </td>
                                            <td class="col-md-2">
                                                July 1, 2014
                                            </td>
                                            <td class="col-md-2">
                                                July 29, 2014
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Six monthly progress report Jan-June 2015
                                            </td>
                                            <td class="col-md-2">
                                                July 1, 2015
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #b32400"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual report covering details of entire year 2012
                                            </td>
                                            <td class="col-md-2">
                                                February 28, 2013
                                            </td>
                                            <td class="col-md-2">
                                                January 16, 2013
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual report covering details of entire year 2013
                                            </td>
                                            <td class="col-md-2">
                                                February 28, 2014
                                            </td>
                                            <td class="col-md-2">
                                                November 11, 2013
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual report covering details of entire year 2014
                                            </td>
                                            <td class="col-md-2">
                                                February 28, 2015
                                            </td>
                                            <td class="col-md-2">
                                                March 31, 2015
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual report covering details of entire year 2015
                                            </td>
                                            <td class="col-md-2">
                                                February 28, 2016
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #b32400"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual fund utilization report for 2012
                                            </td>
                                            <td class="col-md-2">
                                                January 5, 2013
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #b32400"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual fund utilization report for 2013
                                            </td>
                                            <td class="col-md-2">
                                                January 5, 2014
                                            </td>
                                            <td class="col-md-2">
                                                March 18, 2014
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual fund utilization report for 2014
                                            </td>
                                            <td class="col-md-2">
                                                January 5, 2015
                                            </td>
                                            <td class="col-md-2">
                                                January 30, 2015
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual fund utilization report for 2015
                                            </td>
                                            <td class="col-md-2">
                                                January 5, 2016
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #b32400"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="col-md-3">
                                                <a href="/ExistingPartner/Detail/1140">Asian International Rivers Center     </a>, China

                                            </td>
                                            <td rowspan="2" class="col-md-1">
                                                PNREQ000306

                                            </td>
                                            <td class="col-md-3">
                                                Progress and financial reports until June 2016
                                            </td>
                                            <td class="col-md-2">
                                                July 31, 2016
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #ffd800"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Final financial and technical reports
                                            </td>
                                            <td class="col-md-2">
                                                December 30, 2016
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2"></td>



                                        </tr>
                                        <tr>
                                            <td rowspan="15" class="col-md-3">
                                                <a href="/ExistingPartner/Detail/16">Chengdu Institute of Biology </a>, China

                                            </td>
                                            <td rowspan="15" class="col-md-1">
                                                PNREQ000107

                                            </td>
                                            <td class="col-md-3">
                                                Annual Budget &amp; work Plan 2013
                                            </td>
                                            <td class="col-md-2">
                                                January 1, 2013
                                            </td>
                                            <td class="col-md-2">
                                                January 1, 2013
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual Budget &amp; work Plan 2014
                                            </td>
                                            <td class="col-md-2">
                                                September 1, 2013
                                            </td>
                                            <td class="col-md-2">
                                                September 2, 2013
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual Budget &amp; work Plan 2015
                                            </td>
                                            <td class="col-md-2">
                                                September 1, 2014
                                            </td>
                                            <td class="col-md-2">
                                                September 1, 2014
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Six Month progress report jan-june 2013
                                            </td>
                                            <td class="col-md-2">
                                                July 31, 2013
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #b32400"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Six Month progress report jan- june 2014
                                            </td>
                                            <td class="col-md-2">
                                                July 31, 2014
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #b32400"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Six Month progress report jan-june 2015
                                            </td>
                                            <td class="col-md-2">
                                                July 31, 2015
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #b32400"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual Report covering entire year2013
                                            </td>
                                            <td class="col-md-2">
                                                February 28, 2014
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #b32400"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual Report covering entire year 2014
                                            </td>
                                            <td class="col-md-2">
                                                February 28, 2015
                                            </td>
                                            <td class="col-md-2">
                                                February 28, 2015
                                            </td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual Report covering entire year 2015
                                            </td>
                                            <td class="col-md-2">
                                                February 28, 2016
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #b32400"></div>


                                            </td>



                                        </tr>
                                        <tr>
                                            <td class="col-md-3">
                                                Annual Fund Utilisation report for 2013
                                            </td>
                                            <td class="col-md-2">
                                                January 5, 2014
                                            </td>
                                            <td class="col-md-2"></td>

                                            <td class="col-md-2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #b32400"></div>


                                            </td>



                                        </tr>
                                       
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">

                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #00B300"></div> - Recieved or before planned date .

                                            </td>
                                            <td colspan="2">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #ffd800"></div> - Exceeding not more than 1 month compare to Planned date

                                            </td>
                                            <td colspan="4">
                                                <div id="round_dot_escalation" class="intensity_dot" style="background-color: #b32400"></div> - Exceeding more than 1 month compare to Planned date

                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>

                            <div role="tabpanel" class="tab-pane" id="charts">
                                <div class="row card-content" style="text-align:center;">
                                    <div class="innerContent">
                                        <div class="col-md-1 chartArrows" style="text-align: center;padding:0;width:35px;">
                                            <a href="#" id="previousChart">
                                                <div class="circle chartPrevious">
                                                    <i class="fa fa-chevron-left fa-bold" style="color:#fff;" aria-hidden="true"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-10 col-sm-12" style="padding:0;width: calc(100% - 70px);">


                                            <div class="chartsSelect" style="padding-bottom:15px;">

                                                <div>
                                                    <div class="chart-zoom">
                                                        <span class="fa fa-search-plus zoom-modal" aria-hidden="true" modal-title="" modal-content="chart1" style="float:right;"></span>
                                                    </div>
                                                    <!-- Chart-1 -->
                                                    <div class="chartHolder" id="chart1">
                                                        <div class="chart1" style="width:100%;height:100%">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="chart-zoom">
                                                        <span class="fa fa-search-plus zoom-modal" aria-hidden="true" modal-title="" modal-content="chart2" style="float:right;"></span>
                                                    </div>
                                                    <!-- Chart-2 -->
                                                    <div id="chart2" class="chartHolder chart2" style="display:none;">
                                                        <div class="chart2" style="width:100%;height:100%">
                                                        </div>
                                                    </div>
                                                    <!-- Chart-2 Ends-->
                                                </div>

                                                <div>
                                                    <div class="chart-zoom">
                                                        <span class="fa fa-search-plus zoom-modal" aria-hidden="true" modal-title="" modal-content="" style="float:right;"></span>
                                                    </div>
                                                    <!-- Chart-3 -->
                                                    <div class="chartHolder chart3" style="display:none;"></div>
                                                    <!-- Chart-3 Ends-->
                                                </div>

                                                <div>
                                                    <div class="chart-zoom">
                                                        <span class="fa fa-search-plus zoom-modal" aria-hidden="true" modal-title="" modal-content="" style="float:right;"></span>
                                                    </div>
                                                    <!-- Chart-4 -->
                                                    <div class="chartHolder chart4" style="display:none;"></div>

                                                    <!-- Chart-4 Ends -->
                                                </div>

                                                <div>
                                                    <div class="chart-zoom">
                                                        <span class="fa fa-search-plus zoom-modal" aria-hidden="true" modal-title="" modal-content="" style="float:right;"></span>
                                                    </div>
                                                    <!-- Chart-5 -->
                                                    <div class="chartHolder chart5" style="display:none;"></div>
                                                    <!-- Chart-5 Ends-->
                                                </div>
                                                <!-- Chart-6 -->
                                                <div>
                                                    <div class="chart-zoom">
                                                        <span class="fa fa-search-plus zoom-modal" aria-hidden="true" modal-title="" modal-content="" style="float:right;"></span>
                                                    </div>
                                                    <div class="chartHolder chart6" style="display:none;"></div>
                                                    <!-- Chart-6 Ends-->
                                                </div>

                                                <div>
                                                    <div class="chart-zoom">
                                                        <span class="fa fa-search-plus zoom-modal" aria-hidden="true" modal-title="" modal-content="" style="float:right;"></span>
                                                    </div>
                                                    <!-- Chart-7 -->
                                                    <div class="chartHolder chart7" style="display:none;"></div>

                                                    <!-- Chart-7 Ends-->
                                                </div>

                                                <!-- ChartSelect Ends -->
                                            </div>



                                        </div>

                                        <div class="col-md-1 chartArrows" style="padding:0;width:35px;position:absolute;right:45px;">
                                            <a href="#" id="nextChart">
                                                <div class="circle chartNext">
                                                    <i class="fa fa-chevron-right fa-bold" style="color:#fff;" aria-hidden="true"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Card-content Ends-->
                    </div>
                    <!--Card Ends-->
                </div>
                <!--Column ends-->
            </div>

        </div>
    </div>
</div>

@section styles{
    <link href='@Url.Content("~/Content/Page_css/profile.css")' rel="stylesheet" />
}

@section scripts{

    <script>
        $(document).ready(function () {

            resizeElements();
            function resizeElements() {
                $('.tab-content').height($(window).height() - 350);
            }

            $(window).resize(function () { resizeElements(); })
            var mouse_is_inside = false;
            //$('#profile_logo').click(function (e) {
            //    e.stopPropagation();
            //    $('#profile_info').fadeToggle(300);
            //    $('#profile_info').toggleClass('active');
            //})
            //$('#profile_logo').hover(function () { mouse_is_inside = true; }, function () { mouse_is_inside = false; });



            $('#btnsearch_Partner').click(function (e) {
                e.stopPropagation();
                $('#search_Partner').toggleClass('active');
                $('#search_Partner').fadeToggle(300);
            })
            $('#btnsearch_Partner').hover(function () { mouse_is_inside = true; }, function () { mouse_is_inside = false; });



            $('body').mouseup(function (e) {
                if (mouse_is_inside)
                    return;
                //hideform(e, $('#profile_info'));
                hideform(e, $('#search_Partner'));
            });

            function hideform(e, container) {
                //var container = $('#profile_info');
                //e.preventDefault();
                if (!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) // ... nor a descendant of the container
                {
                    if (container.hasClass("active")) {
                        container.fadeToggle(300);
                        container.toggleClass('active');
                    }
                }
            }

           
            chart1('.chart7');
            chart2('.chart6');
            chart3('.chart3');
            chart4('.chart4');
            chart5('.chart5');
            graph['chart2']('chart2');
            graph['chart1']('chart1');



            $('.chartsSelect').slick({
                centerMode: false,
                infinite: false,
                variableWidth: true,
                //autoplay: true,
                prevArrow: $('#previousChart'),
                nextArrow: $('#nextChart'),

                slidesToShow: 3,

                responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
                ]

            });
            $('.chartHolder').show();
            $('.chart-zoom').show();


            $('#zoomModalForm').modelForm({ width: $(window).width() - 300, height: $(window).height() - 200 });

            $('.zoom-modal').click(function () {
                var objID = $(this).attr('modal-content');
                var self = $('#zoomModalForm .modelForm-content');;
                self.html('');
                self.html($('#' + $(this).attr('modal-content')).html());

                
                if (self.find(".highcharts-container").length > 0) {
                    self.html('');

                    self.append('<div id="' + objID + '" style="width:' + $('#zoomModalForm').width() + 'px;height:' + $('#zoomModalForm').height() + 'px"></div>')
                    graph[objID](objID);

                }

                self.css({ 'text-align': 'center', 'overflow': 'hidden' });

                $('*', self).each(function () {
                    $(this).attr('id', '');
                });


            });

        })
    </script>
}